.single_card{
    background-color: #4785a4f8;
    padding: 40px 20px;
    border-radius: 6px;
    color: #fff;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.single_card img{
    border-radius: 50%;
    width: 70%;
}
.single_card h2{
    margin: 15px 0 8px 0;
    font-size: 28px;
}
.single_card h4{
    display: flex;
    justify-content: space-evenly;
    font-size: 22px;
}
.single_card:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.single_card:hover{
    transform: translateY(-5px);
}