.product_card{
    padding: 40px 20px 20px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    /* border: 1px solid rgb(224, 219, 219); */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.075);
    transition: .5s;
}
.product_card:hover{
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
}
.product_card img{
    width: 80%;
}
.product_btn{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .4s;
}
.product_btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 66, 82, 0.767)
}